# Dependências
**/node_modules

# Builds
**/dist
**/.next
**/build

# Git
**/.git

# Arquivos de ambiente
.env
.env.*
!.env.example

# Logs
*.log

# IDE e sistema
.vscode/
.DS_Store
Thumbs.db

# Docker
Dockerfile*
docker-compose*.yml
.dockerignore